{#
/**
 * @file
 * Default theme implementation to display 'submitted' information.
 *
 * Available variables:
 * - author_picture: The author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this entity.
 * - date: Creation date field.
 * - author_name: Author name.
 * - author_attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_submitted()
 *
 * @ingroup themeable
 */
#}
<footer>
  {{ author_picture }}
  <div{{ author_attributes }}>
    {% trans %}Submitted by {{ author_name }} on {{ date|format_date('medium') }}{% endtrans %}
    {{ metadata }}
  </div>
</footer>
